In [1]:
#1.Write a python program to accept the details of a student like name,roll number and mark and display it

In [5]:
name=input('Enter the name: ')
rollno=input('Enter the roll number: ')
mark=input('Enter the mark: ')
print('Name:',name,'\nRoll No:',rollno,'\nMark:',mark)

Enter the name: Najiya
Enter the roll number: 25
Enter the mark: 89
Name: Najiya
Roll No: 25
Mark: 89

In [6]:
#2.Write a python program to convert temperatures to and from celsius fahrenheit

In [83]:
fahrenheit=float(input("Temperature in Fahrenheit = "))
celsius=(5/9)*(fahrenheit-32)
print("Temperature in Celsius =",celsius)
c=float(input("Temperature in Celsius = "))
f=c*(9/5)+32
print("Temperature in Fahrenheit =",f)

Temperature in Fahrenheit = 41
Temperature in Celsius = 5.0
Temperature in Celsius = 5
Temperature in Fahrenheit = 41.0

In [ ]:
#3.Write a python program to accept two numbers from user and display its product

In [13]:
a=float(input("Enter First Number: "))
b=float(input("Enter Second Number: "))
print("Product is: ",a*b)

Enter First Number: 8
Enter Second Number: 5
Product is:  40.0

In [ ]:
#4.Write a program to accept a string "Learn Python by Developing a Website" and display the string like "Learn**Python**by 
#Developing a **Website**"

In [70]:
s="Learn Python by Developing a Website"
s=s[:6]+"**"+s[6:12]+"**"+s[12:29]+"**"+s[29:36]+"**"
print(s)

Learn **Python** by Developing a **Website**

In [68]:
#5.Write a python program to accept the radius of a circle and display its area

In [71]:
import math
radius=float(input("Enter the radius of circle: "))
print("Area of circle = ",math.pi*radius*radius)

Enter the radius of circle: 5
Area of circle =  78.53981633974483

In [ ]:
#6.Python program to insert a number to any position in a list

In [73]:
list1=[12,48,26,85,45,78]
new_element=int(input("Add new element to be added: "))
position=int(input("Enter the postion where number to be added: "))
list1.insert(position,new_element)
print(list1)

Add new element to be added: 88
Enter the postion where number to be added: 2
[12, 48, 88, 26, 85, 45, 78]

In [75]:
#7.Write a program to rename a key city to a location in the following dictionary
#sample_dice={"name":"john","age":"5","salary":8000,"city":"Newyork"}

In [76]:
sample_dict={"name":"john","age":"5","salary":8000,"city":"Newyork"}
sample_dict['location']=sample_dict.pop("city")
print(sample_dict)

{'name': 'john', 'age': '5', 'salary': 8000, 'location': 'Newyork'}

In [74]:
#8.Write a python program to change Brad's salary to 8500 in the following dictionary
#sample_dict={'emp1':{'name':'John','salary':7500},'emp2':{'name':'Emma','salary':8000},'emp3':{'name':'Brad','salary':500}}

In [77]:
sample_dict={'emp1':{'name':'John','salary':7500},'emp2':{'name':'Emma','salary':8000},'emp3':{'name':'Brad','salary':500}}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [78]:
#9.Write a program to copy elements 43 nd 54 from the following tuple into a new tuple.Given:tuple1=(10,20,43,54,56,68)

In [79]:
tuple1=(10,20,43,54,56,68)
new_tuple=tuple1[2:4]
print('new_tuple=',new_tuple)

new_tuple= (43, 54)

In [80]:
#10.Counts the number of occurences of item 50 from a tuple, tuple1=(50,10,60,70,50,83,567,50,81)

In [81]:
tuple1=(50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3